#FocusInputContainer
{
	position:relative;
	margin:0 auto;
	margin-top:50px;
	width:350px;
	height:35px;
	border-bottom:solid 1px #fff;
}

#FocusInputContainer input
{
	float:left;
	width:300px;
	font-size:1.5em;
	border:none;
	background:none;
	color:#fff;
}

#FocusInputContainer input:focus
{
	outline-width:0;
}

::placeholder
{
	color:#fff;
	opacity:.5;
}

@media screen and (max-width: 600px)
{
	#FocusInputContainer
	{
		width:320px;
	}

	#FocusInputContainer input
	{
		width:250px;
		font-size:1.3em;
	}
}

@media only screen and (orientation: landscape) and (max-device-width: 736px)
{
	#FocusInputContainer
	{
		width:325px;
	}

	#FocusInputContainer input
	{
		width:250px;
		font-size:1.3em;
	}
}